.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  row-gap: 40px;
  margin: 50px;
  padding: 10px;
  /* background-image: linear-gradient(
    to top,
    #151424,
    #1d1c32,
    #262441,
    #2f2c50,
    #393560,
    #3f3c6b,
    #444376,
    #4a4a82,
    #4c518b,
    #4f5995,
    #50609e,
    #5268a8
  ); */
  color: lightgrey;
  opacity: 60%;
}

.recipe-square {
  border: 1px solid #ccc;
  background-color: silver;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 8px black;
  border-radius: 7%;
  color: #662549;
}

.grid-image {
  cursor: pointer;
  width: 200px;
  height: 175px;
  object-fit: cover;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}

.recipe-link {
  color: pink;
}
#recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  margin-left: 50px;
}

.login-title {
  text-align: center;
  margin-bottom: 50px;
}

.login-form {
  text-align: center;
}

.login-message {
  text-align: center;
  margin-bottom: 30px;
}

.create-account-form {
  text-align: center;
  margin-bottom: 30px;
}

.login-link {
  text-align: center;
}

.plus-button {
  align-self: flex-end;
}
/* 
.explore-header {
  background-image: linear-gradient(
    to top,
    #151424,
    #1d1c32,
    #262441,
    #2f2c50,
    #393560,
    #3f3c6b,
    #444376,
    #4a4a82,
    #4c518b,
    #4f5995,
    #50609e,
    #5268a8
  );
} */

.create-recipe-form {
  text-align: left;
  padding: 100px;
}

.logout-btn {
  align-self: flex-end;
  color: white !important;
  background: none;
  margin-left: 30px;
}

.view {
  margin-right: 25px;
}
.navbar view {
  color: lightgray;
}

.navbar-nav {
  margin-left: 945px;
}

/* .accordian-btn {
  color: blue;
  background-color: silver;
  border-color: black;
} */

.carousel {
  margin-top: 200px;
  color: pink;
  /* margin-left: 350px; */
  /* background-image: linear-gradient(
    to top,
    #151424,
    #1d1c32,
    #262441,
    #2f2c50,
    #393560,
    #3f3c6b,
    #444376,
    #4a4a82,
    #4c518b,
    #4f5995,
    #50609e,
    #5268a8
  ); */
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  width: 500px;
  height: 350px;
  /* margin-left: 200px; */
  margin-left: auto;
  margin-right: auto;
}

.carousel-image {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 3%;
  border-color: #662549;
  border-style: dashed;
}

.carousel-text {
  align-content: baseline;
  background-color: #662549;
  top: 290px;
  height: 100px;
  border-radius: 7%;
}

.recipe-info {
  border-color: black;
  border-style: double;
  height: 500px;
  width: 700px;
}

.navbar-main {
  height: 100px;
  font-size: large;
}

/* .navbar-explore {
  background-color: #011526;
} */

.search-btn {
  margin-left: 500px;
}

.filter-accordian {
  margin-left: 600px;
}

.my-recipes-item {
  margin-left: 300px;
  color: white;
  /* border-left-style: double;
  border-left-color: red; */
}

.explore-item {
  margin-left: 250px;
  color: white;
}

.globe {
  height: 50px;
  width: 50px;
  color: rgb(174, 68, 90);
  margin-left: 10px;
}

/* .search-bar {
  border-right: 200px;
} */

/* .search-items {
  border-right: 200px;
} */

.home-page {
  /* background-image: linear-gradient(
    to top,
    #151424,
    #1d1c32,
    #262441,
    #2f2c50,
    #393560,
    #3f3c6b,
    #444376,
    #4a4a82,
    #4c518b,
    #4f5995,
    #50609e,
    #5268a8
  ); */
  background-clip: content-box;
  color: white;
}

.app {
  background-clip: content-box;
  color: white;
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #151424,
    #1d1c32,
    #262441,
    #2f2c50,
    #393560,
    #3f3c6b,
    #444376,
    #4a4a82,
    #4c518b,
    #4f5995,
    #50609e,
    #5268a8
  );
}

/* .home-page {
  /* background-color: #011526; */
/* } */
/* */
/* .recipe-grid {
  /* background-color: #011526; */
/* } */
*/ */

/* .login-page {
  /* background-color: #011526; */
/* } */ */

.plus-icon {
  height: 40px;
  width: 40px;
  color: rgb(174, 68, 90);
}

.unfilled-star {
  background-color: #011526;
  height: 40px;
  width: 40px;
}

.favorite-count {
  font-size: x-large;
  color: white;
}

.cook-filter:focus {
  background-color: blue;
}
