.navbar {
  background-color: blue;
  margin-bottom: 200px;
}

.logo {
  width: 12rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  row-gap: 40px;
  margin: 50px;
  padding: 10px;
}

.recipe-square {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

#recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  margin-left: 50px;
}

.plus-button {
  margin-left: 50px;
}

.login-title {
  text-align: center;
  margin-bottom: 50px;
}

.login-form {
  text-align: center;
}

.login-message {
  text-align: center;
  margin-bottom: 30px;
}

.create-account-form {
  text-align: center;
  margin-bottom: 30px;
}

.login-link {
  text-align: center;
}
